body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.todo {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
}

.delete-btn {
    /* margin-left: auto; */
    background-color: red;
    cursor: pointer;
}

.edit-btn {
    /* margin-left: px; */
    background-color: blue;
    cursor: pointer;
}

.status-btn {
    background-color: #45a049;
    cursor: pointer;
}

.actions {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.task-text {
    display: flex;
}

.done {
    text-decoration: line-through;
    color: #888;
}

.due-date {
    margin-right: 25px;
}

.priority {
    width: 90px;
}

.category {
    width: 7.5%;
    display: flex;
}

.tags {
    margin-left: 10px;
    font-style: italic;
    color: #666;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 8px 0;
    padding: 10px;
    background-color: #f5f5f5;
}